<main id="wrapper">
  <mat-card id="main-card">
    <mat-card-header>
      <mat-card-title>{{ title }}</mat-card-title>
      <mat-card-subtitle>{{ title }} app is running!</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Command</mat-label>
          <input #command matInput placeholder="Ex. uname -a" value="" />
        </mat-form-field>
        <button mat-button (click)="execute(command.value)" color="primary">
          Execute
        </button>
        <hr />
        <mat-card>
          <mat-label>Output:</mat-label>
          <mat-icon *ngIf="errored" aria-hidden="false">error</mat-icon>
          <pre>{{ output }}</pre>
        </mat-card>
      </div>
      <div class="examples">
        <p>Example commands:</p>
        <ul>
          <li>uname</li>
          <li>uname -a</li>
          <li>ls -al</li>
          <li>echo kapusta</li>
          <li>cat README.md</li>
        </ul>
      </div>
    </mat-card-content>
  </mat-card>
</main>
