#wrapper {
  display: flex;
  justify-content: center;
}

#main-card {
  margin: 5rem;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

mat-card {
  min-width: 300px;
  max-width: 800px;
  width: 100%;
}

pre {
  font-family: sans-serif;
  padding: 10px;
  background-color: #333;
  min-height: 200px;
  overflow: scroll;
}

.examples {
  margin: 1em;
}
